# 71

In [2]:
while True :
    a, b = input().split()
    a, b = int(a), int(b)
    if (1<=a<=100 and a<=b) and (1<=b<=100 and a<=b) :
        break
        
print(sum(range(a, b + 1)))

51 100
3775

# 72

In [6]:
while True :
    n = int(input())
    if 1<=n<=100 :
        break
        
for i in range(1, n + 1, 2) :
    print(i, end = " ")

11
1 3 5 7 9 11

# 73

In [7]:
while True :
    n = int(input())
    if 1<=n<=100 :
        break
count = 0
for i in range(1, n + 1) :
    if n % i == 0 :
        count += 1
print(count)

12
6

# 74

In [14]:
while True :
    n = int(input())
    if 1<=n<=100 :
        break
llist = []
for i in range(1, n) :
    if i % 3 == 0 or i % 5 == 0 :
        llist.append(i)
print(sum(llist))

10
23

# 75

In [15]:
while True :
    n = int(input())
    if 1<=n<=pow(10, 6) :
        break
llist = []
for i in range(1, n + 1) :
    if n % i == 0 :
        llist.append(i)
print(sum(llist))

12
28

# 76

In [18]:
while True :
    n = int(input())
    if 1<=n<=pow(20, 9) :
        break

count = 0
for i in range(1, n) :
    if i % 4 == 0 :
        count += 1
print(count)

14
3

# 77

In [24]:
while True :
    n = int(input())
    if 1<=n<=pow(10, 4) :
        break
llist = []
for i in range(1, n) :
    if n % i == 0 :
        llist.append(i)

if sum(llist) == n :
    print('PERFECT')
elif sum(llist) < n :
    print('DEFICIENT')
elif sum(llist) > n :
    print('ABUNDANT')

6
PERFECT

# 78

In [1]:
for i in range(1, 6) :
    print("#" * i)

#
##
###
####
#####

# 79

In [25]:
for i in range(5, 0, -1) :
    print("#" * i)

#####
####
###
##
#

# 80

In [36]:
for i in range(1, 6) :
    j = " " * (6-i)
    k = "#" * i
    print(j + k)

     #
    ##
   ###
  ####
 #####

# 81

In [37]:
for i in range(5, 0, -1) :
    j = " " * (6-i)
    k = "#" * i
    print(j + k)

 #####
  ####
   ###
    ##
     #

# 82

In [39]:
for i in range(1, 6) :
    j = " " * (6 - i)
    k = "#" * (2 * i -1)
    print(j + k)

     #
    ###
   #####
  #######
 #########

# 83

In [40]:
for i in range(5, 0, -1) :
    j = " " * (6 - i)
    k = "#" * (2 * i -1)
    print(j + k)

 #########
  #######
   #####
    ###
     #

# 84

In [43]:
while True :
    G = int(input())
    if 1<=G<=50 :
        break
        
count = 0
for i in range(1, 10) :
    for j in range(1, 10) :
        for k in range(1, 10) :
            if i * 2 + j * 3 + k * 5 == G :
                count += 1
                print(i, j, k)
print(count)

20
1 1 3
2 2 2
3 3 1
6 1 1
4

# 85

In [140]:
while True :
    n = int(input())
    if 1<=n<=10 :
        break
        
for i in range(1, n + 1) :
    s = 1
    k = 1
    for j in range(1, i + 1) :
        print(s, end ='')
        s += 1
        k += 1
    if n >= 10 :
        space = 2 * (n - i) + 1
    else :
        space = 2 * (n - i)
    for j in range(2, space + 1) :
        print(" ", end ='')
    k -= 0
    for j in range(1, i + 1) :
        k -= 1
        if k < n :
            print(k, end ='')
        
    print()
    
for i in range(n - 1, 0, -1) :
    s = 1
    k = 1
    for j in range(1, i + 1) :
        print(s, end ='')
        s += 1
        k += 1
    if n >= 10 :
        space = 2 * (n - i) + 1
    else :
        space = 2 * (n - i)
    for j in range(2, space + 1) :
        print(" ", end ='')
    k -= 0
    for j in range(1, i + 1) :
        k -= 1
        if k < n :
            print(k, end ='')
        
    print()

10
1                  1
12                21
123              321
1234            4321
12345          54321
123456        654321
1234567      7654321
12345678    87654321
123456789  987654321
12345678910987654321
123456789  987654321
12345678    87654321
1234567      7654321
123456        654321
12345          54321
1234            4321
123              321
12                21
1                  1

# 86

In [147]:
while True :
    a = int(input())
    if 1<=a<=pow(10, 4) :
        break

sumA = 10000
count = 0
while sumA > 0 :
    sumA -= a
    count += 1
    print(sumA)

print(count)

1250
8750
7500
6250
5000
3750
2500
1250
0
8

# 87

In [2]:
while True :
    a, b, c, d = input().split()
    a, b, c, d = int(a), int(b), int(c), int(d)
    if (a and b and c and d) <= pow(10, 4) :
        break
        
while True :
    a += b
    c -= d
    if a >= c :
        break
    
print(a)

150 50 1000 100
450

# 88

In [3]:
while True :
    bottles, exchange = input().split()
    bottles, exchange = int(bottles), int(exchange)    
    if 1<=bottles<=pow(10, 9) and exchange > 1 :
        break


# count = bottles
# while True :
#     bottles = bottles - exchange + 1
#     count += 1
#     if bottles <= exchange :
#         break
# print(count)
count = 0
total = bottles
while bottles > 0 :
    bottles = bottles - exchange
    count += 1
    
print(total + count)

5 3
7

# 89

In [3]:
while True :
    n = int(input())
    if 1 <= n <= pow(10, 4) :
        break

coins = []
sumA = 0
for i in range(1, n + 1) :
    sumA += i
    
    if sumA == n :
        for j in range(1, i + 1) :
            coins.append(j**2)
            

print(sum(coins))

8
0

# 90

In [44]:
while True :
    n = int(input())
    if 1 <= n <= 100 :
        break

sumA = []
for i in range(1, n + 1) :
    sumA.append(i**2)
print(sum(sumA))

4
30

# 91

In [6]:
n = int(input())

sumA = []

for i in range(1, n + 1) :
    sumA.append(i**2)
print(sum(sumA))

5
55

# 92

In [56]:
while True :
    a, b = input().split()
    a, b = int(a), int(b)
    if 1 <= a <= b <= 10000 :
        break
count = 0
sumA = []
for i in range(a, b + 1) :
    if i**2 == b :
        count += 1
    if i**2 <= b :
        sumA.append(i**2)


if count > 0 :
    print(sum(sumA))
    print(count)
    
else :
    print('-1')

50 60
-1

# 93

In [6]:
n = int(input())
count = 0
for i in range(1, n + 1) :
    if i % 2 == 0 :
        count += 1
print(count)

5
2

# 94

In [9]:
import math as m
while True :
    n = int(input())
    if 1 <= n <= pow(20, 9) :
        break
        
print("{:.0f}".format(m.sqrt(n)))

25
5

# 95

In [103]:
n = int(input())
org = n
reverse_n = 0
while n > 0 :
    reverse_n = reverse_n * 10 + n % 10
    n //= 10
    
if org == reverse_n :
    print("Palindrome Number")
else :
    print('Normal Number')

120
Normal Number

# 96

In [16]:
llist = []

for i in range(1, 101) :
    count = 0
    for j in range(1, 101) :
        if i % j == 0 :
            count += 1
            
    if count == 2 :
        llist.append(i)
            

align = 5
for i in range(1, 6) :
    print(*llist[align - 5:align], end = " ")
    align += 5
   
    print()

2 3 5 7 11
13 17 19 23 29
31 37 41 43 47
53 59 61 67 71
73 79 83 89 97

# 97

In [ ]:
llist = []

for i in range(1, 101) :
    if i % 2 == 0 :
        llist.append(i)

n_list = []
sumA = 0
while True :
    for i in llist :
        sumA += i
        n_list.append(i)
    if sumA < 60 :
        print(sumA)
        break
    
print(n_list)

# 98

In [10]:
llist = []
while True :
    a, b = input().split()
    a, b = int(a), int(b)
    
    
    if 1 <= a <= b <= 10000 :
        c = a + b
        llist.append(c)
        
    elif a == 0 and b == 0 :
        break
    
print(max(llist))

1 2
2 3
3 4
4 5
0 0
9

# 99

In [19]:
count = 0
lst = [2, 3]
for i in range(1, 100) :
    if i % 2 == 0 or i % 3 == 0 :
        continue
    lst.append(i)
    count += 1
    if count == 10 :
        count = 0 
print(*sorted(lst))

1 2 3 5 7 11 13 17 19 23 25 29 31 35 37 41 43 47 49 53 55 59 61 65 67 71 73 77 79 83 85 89 91 95 97

# 100

In [33]:
llist = []
count = 0
while True :
    a, b = input().split()
    a, b = int(a), int(b)
    
    
    if 1 <= a <= 10 or 1 <= b <= 10  :
        c = a + b
        
        llist.append(c)
            
    elif (a == 0 and b == 0) or (a > 10 and b > 10) :
        break

for i in llist :
    if i >= 8 :
        count += 1
print(count)

5 3
6 2
7 2
5 3
5 4
0 4
0 6
0 0
5

# 101

In [35]:
llist = [4, 7, 6, 8, 11, -3, 8, 11, 5, 13]

print(sum(llist))

70

# 102

In [37]:
llist = [5, 7, 13, 11, 6, 10, 45, 11, 4, 9]
sumA = 0
for i in llist :
    if i % 2 == 0 :
        sumA += i
print(sumA)

20

# 103

In [ ]:
n = input().split()
k = n[0]
q = n[1]
r = n[2]
b = n[3]
kn = n[4]
p = n[5]

for i in n :
    i = int(i)

:

# 104

In [66]:
a, b, c = input().split()
a, b, c = int(a), int(b), int(c)
total = a * b * c
print(total)

total = list(str(total))

for i in total :
    if i

123 234 345
9929790
9
9
2
9
7
9
0

# 105

In [47]:
llist = tuple(list(range(1, 100, 2)))
print(sum(llist))

2500

# 106

In [58]:
llist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
llist = llist[1:] + llist[:1]
print(llist)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 1]

# 107

In [57]:
llist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
llist = llist[-1:] + llist[:-1]
print(llist)

[10, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# 108

In [61]:
n = input()

print("{}Y {}M {}D".format(n[:4], n[4:6], n[6:]))

20211224
2021Y 12M 24D

# 109

4 2
0 0 0 0
0

# 110

10
3
4
6
2
28

# 111

In [96]:
a = int(input())
while True :
    n = input().split()
    if len(n) == a :
        break
count = 0
for i in n :
    i = int(i)
    if i - 4 != 0 :
        count += 1
print(count)

6
5 2 4 1 7 5
5

# 112

In [6]:
a = int(input())
llist = []
while True :
    n = input().split()
    llist.append(n)
    if len(n) == a :
        break

for i in llist :

5
1 3 3 4 5
1 5 3 7 9

# 113

1 4 3 2 9 7 18 22 0
3

# 114

24 2
1 1
1 2
2 1
2 2
3 1
3 2
4 1
4 2
6 1
6 2
8 1
8 2
12 1
12 2
24 1
24 2

# 115

123 45
54

# 116

77
-99
98

# 117

10
20
30
40
50
60
70
80
90
90
9

# 118

4 4 3 3
5 4 3 5
5 5 2 4
5 5 5 1
4 4 4 4
2 17

# 119

5
512
532
532
585
599
532

# 120

3
3
2 -1 1
9

# 121

3 2 3
5

# 122

100
3
5 75 25
2 3

# 123

In [97]:
n = int(input())
count = 0
speed = []
elapse = [0]
while True :
    a, b = input().split()
    a, b = int(a), int(b)
    speed.append(a)
    elapse.append(b)
    count += 1
    if count == n :
        break
sumA = 0        
for i in range(n) :
    sumA += speed[i] * (elapse[i + 1] - elapse[i])

print(sumA)

2
60 1
30 5
[60, 30]
[0, 1, 5]
180

# 124

In [83]:
count = 0
llist = []

while True :
    n = int(input())
    count += 1
    llist.append(n)
    if count == 28 :
        break
llist.sort()


n_list = []
for i in range(1, 31) :
    n_list.append(i)
    for j in llist :
        if i == j :
            n_list.remove(j)

print(n_list)
for i in n_list :
    print(i)

3
1
4
6
5
7
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
[2, 8]
2
8

# 125

42
84
252
420
840
126
42
84
420
126
1

# 126

30 3
1 3
3 7
1 4
13

# 127

4 5
0 1 2
0 2 4
1 2 3
1
0 2 4
1 1 4
2

# 128

13
2
10
1
2
1

# 129

5 2
1 2
4 5
2

# 130

10 8 6
15 30
25 50
70 80
480

# 131

3
5 9
1 10
3 8
350
550
330

# 132

4 2
5
8
12
6
1 3
2 4
25
26

# 133

5 3
2
5
-4
10
3
11

# 134

4
+
5
*
9
81

# 135

13 5 3 2 1
u
f
u
d
f
3

# 136

1 3 3 1 1 1 7 7 7 7
7
4

# 137

6
1 0 0 1 1 1
2

# 138

8 1 7 2 6 3 5 4
mixed

# 139

6
C
C
P
C
Z
Z
5

# 140

7
0 0
1 0
1 1
0 0
0 0
0 0
0 1
6