# 1. Sequential Programming Plan
## 1.1. Output a self-introduction letter

## 1.2. Flowchart of Finding Accomodation

## 1.3. Code 7 `print` statement to product the following output:
```
    *
   ***
  *****
*********
  *****
   ***
    *
```

## 1.4.ðŸ”¥ Create a flowchart to factorize 18, 39, 63, 126, 792

# 2. Variables, Data Types, Operators
## 2.1. Use `int` to add string '50' with number 50 to output 100.
Then use `str` to output '5050'

In [2]:
print(int('50') + 50)

100

## 2.2. You have one instance of '1' and three instances of '0'. Output number 1000.
Use `int` only once

In [4]:
print(int('1' + '0' + '0' + '0'))

1000

## 2.3. Print the circumference and area of circle

In [5]:
pi = 3.14
r = int(input('enter radius: '))

c = 2 * pi * r
a = pi * pow(r, 2)
print("circumference of the circle: {} \narea of the circle: {}".format(c, a))

enter radius: 4
circumference of the circle: 25.12
area of the circle: 50.24

## 2.4. Using integer and * operator to output factorial of 5 and 10 like below
Output:   
Calculate the factorial.   
5! = 120

Calculate the factorial.   
10! = 3628800

In [5]:
n = int(input('enter integer: '))
result = 1
for i in range(1, n + 1) :
    result *= i

print("{}! = {}".format(n, result))

# n = 10
# factorial = 1 * 2 * n * (n-1) * (n-2) * (n-3) * (n-4) * (n-5) * (n-6) * (n-7)
# print(str(n) + '! = ' + str(factorial))

enter integer: 10
10! = 3628800

# 3. String input output, Built-in Functions, Module

## 3.1. Assign 30 and 60 to variable `width` and `height` respectively. Calculate area of rectangle then output
Area of the rectangle: 1800

In [8]:
# w = 30
# h = 60

# rec_area = w * h
# print("Area of a rectangle: ",rec_area)

w = int(input('enter width: '))
h = int(input('enter height: '))

print("Area of a rectangle: ", w * h)

enter width: 30
enter height: 60
Area of a rectangle:  1800

## 3.2. Calculate the length of hypotenuse
- First line should prompt for the base.  
- Second line should prompt for the height.   
- 3rd line is the output

In [5]:

base = int(input('enter base: '))
height = int(input('enter height: '))
hypotenuse_length = pow((pow(base,2) + pow(height,2)), 1/2)
print(hypotenuse_length)

# from math import sqrt

# base = int(input('enter base: '))
# height = int(input('enter height: '))

# hypotenuse_length = sqrt(pow(base,2) + pow(height,2)) 

# print(hypotenuse_length)

enter base: 3
enter height: 4
5.0

## 3.3. BMI Calculator
- Obtain user's name, height and weight
- Unit of BMI is Kg/m^2

In [10]:
name = input('Enter name: ')
height = int(input('Enter height in cm: '))
weight = int(input('Enter weight in kg: '))
height_m = height / 100

BMI = weight/pow(height_m, 2)
print("your BMI: {:.2f}".format(BMI))

Enter name: sun
Enter height in cm: 175
Enter weight in kg: 72
your BMI: 23.51

## 3.4.ðŸ”¥ Change calculator
- The coins for change are only 500 and 100
- Input the money
- Input the price of goods
- Calculate the changes

In [11]:
money = int(input('enter the amount of money: '))
price = int(input('enter the price of goods: '))
changes = money - price
print('the changes is: ', changes)

enter the amount of money: 500
enter the price of goods: 100
the changes is:  400

## 3.5. Get radius from user and calculate the circumference and area of a circle
- use PI = 3.141592
- Output Sample:
    - Enter the radius of a circle: 11
    - Circumference of the circle:....., Area:....

In [12]:
r = int(input('Enter the radius: '))
pi = 3.141592
c = 2 * pi * r
a = pi * pow(r, 2)
print('circumference: {} \narea: {}'.format(c, a))

Enter the radius: 11
circumference: 69.115024
area: 380.132632

## 3.6. Display squared result in table of the value from 2 to 6
Output:   
```
a    n    a**n
2    2    4
3    2    9
4    2    16
5    2    25
6    2    36
```

In [28]:
print("{:7} {:7} {:7}".format("a", "n", "a**n"))
for i in range(2, 7) :
    print(i, end = "\t")
    print('2', end = "\t")
    print(pow(i, 2))

a       n       a**n
2	2	4
3	2	9
4	2	16
5	2	25
6	2	36

# 4. Boolean Expression
## 4.1. Leap Year
Output Sample:
```
Enter the year: 2023
False
```

In [37]:
n = int(input('Enter the year: '))
print((n % 4 == 0 or n % 400 == 0) and not (n % 100 == 0))

Enter the year: 2024
True

## 4.2. Input from users, print True if input is odd and False otherwise
Output:
```
Enter an integer: 20
Is this number odd? False
```

In [42]:
n = int(input('Enter an integer: '))
print('is this number odd?', (n % 2 == 1))

Enter an integer: 1
is this number odd? True

## 4.3. Input from users, print True is input is even number within range 0 to 10
Output:
```
Enter an integer: 12
Is the entered integer an even number within the range 0 to 10? False
```

In [50]:
n = int(input('Enter an integer: '))
print("Is the entered integer an even number within the range 0 to 10?", (n >= 0 and n <= 10))

Enter an integer: 12
Is the entered integer an even number       \ within the range 0 to 10? False

## 4.4. Get input of 3digit integer from user. If the hundreds digit is 3, print True
Output:
```
Please enter a three-digit integer: 321
True
```

In [7]:
n = int(input('Enter an integer: '))
print("Please enter a three-digit integer: ", (n >= 300 and n < 400) )

Enter an integer: 200
Please enter a three-digit integer:  False

## 4.5. Input an integer, print True if it is a multiple of 5
Output:
```
Enter an integer: 125
True
```

In [53]:
n = int(input('Enter an integer: '))
print(n % 5 == 0)

Enter an integer: 25
True

# 5. Conditional-1

## 5.1. Lottery simulation with 3 integers
- Winning numbers are 2, 3, 9
- User's input is 3 digit separated by spaces
- Print 'You won the lottery' if user correctly guesses the 3 numbers in any order

Output:
```
Please enter 3 lottery numbers : 2 9 3
You won the lottery
```

In [4]:
n = input('enter numbers: ')
if n == '2 3 9' :
    print('YOU WON')
else :
    print('YOU LOSE')

enter numbers: 2 3 9
YOU LOSE

## 5.2. Get input from user and check if it is a multiple of both 3 and 5
Output:
```
Enter integer: 30
True
```

In [10]:
n = int(input('Enter integer: '))
print(n % 3 == 0 and n % 5 == 0)

Enter integer: 30
True

## 5.3. print 'You are a pro.' if game_score input is 1000 or more
Output:
```
Enter game score: 1500
You are a pro.
```

In [13]:
n = int(input('Enter game score: '))
if n >= 1000 :
    print('you are a pro.')
else :
    print('Noob')

Enter game score: 200
Noob

## 5.4. Get an integer input x between -100 and 100 and then:
1. Print x on screen
2. If x is a positive integer, print '... is a natural number' Otherwise, only print x as it is.

Output:
```
Enter integer: 50

x = 50
50 is a natural number.
```

In [14]:
n = int(input('Enter integer: '))
if n > 0 :
    print(n, 'is a natural number.')
else :
    print(n)

Enter integer: 40
40 is a natural number.

## 5.5. Get age input from user and:
- print 'Adult' if the age is 20 or above
- print 'Youth' if the age is 10 or above but less than 20
- print 'Kid' if the age is below 10
**Note**: Use `if` only.

In [27]:
n = int(input('Enter age: '))

if n >= 20 :
    print('Adult')
if n > 10 and n < 20 :
    print('Youth')
if n <= 10 and n > 0:
    print('kid')

Enter age: 19
Youth

## 5.6. Get age and height inputs from user
Print 'You can enter.' if the age is 65 years old or younger and height is 110 cm or above.

Output:
```
Enter your age: 20
Enter your height (in cm): 180

You can enter.
```

In [29]:
n = int(input('Enter age: '))
x = int(input('Enter heightin cm: '))
if n < 65 and x >= 110 :
    print('You can enter')

Enter age: 20
Enter heightin cm: 180
You can enter

# 6. Conditional-2
## 6.1. Odd or even number
- Get user input as integer
- If the number is negative. print '...is a negative number'
- If the number is not negative. print '...is not a negative number'. Then decide if it is 'odd' or 'even'

Output:
```
Enter an int: 100
100 is not a negative number.
Even
```

In [40]:
n = int(input('Enter integer: '))

if n >= 0 :
    print(n, 'is a positive number.')
else :
    print(n, 'is a negative number.')
    
if n % 2 == 0 :
    print('even')
else :
    print('odd')

Enter integer: 22
22 is a positive number.
even

## 6.2. Get input and determine of it is positive, negative or zero
Output:
```
Enter a number: 0
It is zero
```

In [47]:
n = int(input('Enter integer: '))
if n % 2 == 0 and n > 0:
    print('even')
elif n % 2 == 1 and n > 0:
    print('odd')
else :
    print('it is zero')

Enter integer: 0
it is zero

## 6.3.ðŸ”¥ Automatic menu ordering system
- Print the menu
- Let user choose an item
- Let user input number of the chosen item
- Print total amount
- Let user input money
- If money is not enough, print 'Not enough money'
- Otherwise, print the input money and the change

Output:
```
##############################
It's David's fruit shop.
1: Apple( Price: 5,000 won)
2: Grape( Price: 6,000 won)
3: Melon( Price: 8,000 won)
4: Orange( Price: 2,000 won)
##############################
Enter number of the items (1 to 4): 1
Enter the number of items: 2

The fruit you chose is: Apple
The price of: 5000
Total price: 10000

Please input the money: 12000
Got 12000 won. The change is 2000 won.
```

In [5]:
n = input('Enter number of the items (1 to 4):')
x = int(input('enter the number of items '))
print('#' * 20)

print('#' * 20)
price1 = 5000
price2 = 6000
price3 = 8000
price4 = 2000



if n == '1' :
    print('The fruit you chose is: Apple \nThe price of: {} \nTotal price: {}'.format(price1, price1 * x))
elif n == '2' :
    print('The fruit you chose is: Grape \nThe price of: {} \nTotal price: {}'.format(price2, price2 * x))    
elif n == '3' :
    print('The fruit you chose is: Melon \nThe price of: {} \nTotal price: {}'.format(price3, price3 * x))   
elif n == '4' :
    print('The fruit you chose is: Orange \nThe price of: {} \nTotal price: {}'.format(price4, price4 * x))

Enter number of the items (1 to 4):2
enter the number of items 2
The fruit you chose is: Grape
The price of: 6000
Total price: 12000

## 6.4.ðŸ”¥ GPA calculator
- Get user input score and print their grade accordingly
- if 90 and above, print 'A'
- if below 90 and above 80, print 'B'
- if below 80 and above 70, print 'C'
- if below 70 and above 60, print 'D'
- if below 60, print 'F'

Output:
```
Enter your grade: 88
Grade: B
```

## 6.5. Get user input as single alphabet character
- if input is 'a, e, i, o or u' print 'It is a vowel'
- Otherwise, print 'It is a consonant.'

Output:
```
Enter the alphabet: k
k is a consonant
```

## 6.6. check if a is a multiple of b
Get user inputs as `a` and `b` (separated by space)

Output:
```
Write 2 integers: 30 3

30 is a multiple of 3
```

## 6.7. Penalty shootout:
- Draw the flowchart FIRST ðŸ”¥
- Cannot use `list` data type
- Computer will be the goal keeper
- Print 'GOAL!' if user score the goal
- Else, print 'No goal'

Output:
```
Where do you want to shoot? (left, center, right): right

No goal
Defense position of computer: right
```

## 6.8. Perform addition, subtraction, multiplication and division
Output1:
```
1) addition, 2) subtraction, 3) multiplicatio, 4) division
Please enter the number corresponding to the operation: 1
please enter two numbers for the operation:
10
20

10 + 20 = 30
```

Output2:
```
1) addition, 2) subtraction, 3) multiplicatio, 4) division
Please enter the number corresponding to the operation: 5

Invalid input.
```

## 6.9. Determine which quadrant the point belongs to
The quadrants are defined as below:
```
            y
2 quadrant  | 1 quadrant
____________|____________x
            |
3 quadrant  | 4 quadrant
```

Output:
```
Enter x,y coordinates: -5 6

In the 2nd quadrant
```

## 6.10. Menu ordering program
- Present the user with menu options and let them choose one
- If an alphabet that's not in the menu is entered, output 'Please enter the menu again.' and prompt for input again.

Output:
```
Welcome to Yummy restaurant. Here is the menu.
- Burger(enter 'b')
- Chicken(enter 'c')
- Pizza(enter 'p')

Choose a menu : p

You chose pizza.
```

# 7. List data type

## 7.1. Create a list called prime_list that contains prime numbers from 2 to 10.
Print the first element of this list using list indexing.   
Output:
```
1st element of prime_list: 2
```

## 7.2. Create prime_list again.
Use `append` method to add 11. Print the list before and after adding.   
Output:
```
Prime numbers: [2,3,5,7]
prime numbers after addition: [2,3,5,7,11]
```

## 7.3. Use nested for loop to multiply each element of list1 with each of list2
Output:
```
list1 = [3,5,7]
list2 = [2,3,4,5,6]

3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18

5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30

7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
```

## 7.4. Average age of 4 people
- Draw flow chart first ðŸ”¥
- Create a list containing info of a person in the order of name, age, gender, height and weight:
![image.png](https://raw.githubusercontent.com/anb-hq/python-lessons-anb-prime/main/assets/person-db.png?token=GHSAT0AAAAAACFRF7IKIHUZTH37WN4YHSWCZGAVGPQ)

Output:
```
Average age is 26.75.
```

## 7.5. Find the shortest string
- Define s_list = ['abc', 'bcd', 'bcdefg', 'abba', 'cddc', 'opq']
- Without using `min` or `sort` method, output the shortest string.
- Use loop.

Output:
```
The shortest string: abc
```

## 7.6. Now output the longest string
Output:
```
The longest string: bcdefg
```

## 7.7. Now output 3 shortest strings
- Hint: use `sort(key=len)` method

Output:
```
The shortest strings: 'abc', 'bcd', 'opq'
```

# 8. loop-1: `for` loop
## 8.1. Calculate the factorial based on user input
Output:
```
Enter a number: 5
5! = 120
```

## 8.2. Print all bts members using `for` loop
- Create a list bts = ['V', 'J-Hope', 'RM', 'Jungkook', 'Jin', 'Jimin', 'Suga']
- Use for loop and print all of them

## 8.3. Sum of number from 1 to 100
- DO NOT use `sum` function
- Use `for` loop

Output:
```
Sum of integers from 1 to 100: 5050
```

## 8.4. Print sum of even numbers from 1 to 100
- Use `range` function

Output:
```
Sum of even numbers from 1 to 100: 2550
```

## 8.5. Print sum of odd numbers from 1 to 100
Output:
```
Sum of odd numbers from 1 to 100: 2500
```

## 8.6. Sandwich combination
- Draw the flow chart ðŸ”¥
- The available data are as follow:
![image.png](https://raw.githubusercontent.com/anb-hq/python-lessons-anb-prime/main/assets/breads.png?token=GHSAT0AAAAAACFRF7ILXYB4WZD5FAE6WM5UZGAVJIQ)

Output:
```
Possible combinations of David's sandwich shop:
Rye bread + Meatball + Lettuce + Mayonnaise
Rye bread + Meatball + Lettuce + Honey mustard
.....
```

## 8.7.ðŸ”¥ Snake matrix hehe
Output:
```
Enter n: 4

1  2  3  4
8  7  6  5
9  10 11 12
16 15 14 13
```

# 9. Loop-2: `while` loop
## 9.1. Prompt user input again and again until the condition is satisfied:
- Given a list of ['rock', 'paper', 'scissors']
- If the user input something different from these elements in the list, ask them to prompt again
- If the user input correctly, exit the program

Output:
```
Choose between rock, paper, scissors: ggwp
Choose between rock, paper, scissors: blah
Choose between rock, paper, scissors: rock
Ok good. Bye!
```

## 9.2. Use `while` to create a multiplication table of 2
Output:
```
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
```

## 9.3. Create multiplication table of 1 to 9
Output:
```
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
...
```

## 9.4. Snail in the well
- Draw flow chart first ðŸ”¥
- How many days can the snail get out of the well?
- The well is 30 deep
- In one day, snail can climb up 3 in the morning and slide down 2 in the afternoon

Output:
```
day : 1 position of snail: 3m
day : 2 position of snail: 4m
....
day : 28 position of snail: 30m

It took 28 days to escape the well
```

## 9.5.ðŸ”¥ Check if a number is palindrome
Use only `while` loop

Output:
```
Enter an integer: 135

135 is not a palindrome number.
```

## 9.6. Guess a number between 1 to 100
- Create a random number
- Get user input until they guess the right number.
- Print the number of attempts

Output:
```
Guess a number between 1 to 100.
Enter a num: 20
Higher

Enter a num: 30
Lower

Enter a num: 22
Congrats!
Number of attemps = 3
```