In [14]:
n = 10
factorial = 1 * 2 * n * (n-1) * (n-2) * (n-3) * (n-4) * (n-5) * (n-6) * (n-7)
print(str(n) + '! = ' + str(factorial))

10! = 3628800

In [20]:
n = 10 
factorial = 1 * 2 * n * (n-1) * (n-2) * (n-3) * (n-4) * (n-5) * (n-6) * (n-7)
print(f"The Result of {n}! = {factorial}")

The Result of 10! = 3628800

In [25]:
n = 18
if (18%1 == 0) :
    print(1)
if (18%2 == 0) :
    print(2)
if (18%3 == 0) :
    print(3)
if (18%4 == 0) :
    print(4)
if (18%5 == 0) :
    print(5)
if (18%6 == 0) :
    print(6)

1
2
3
6

In [2]:
n = int(input("Enter a num: "))
for i in range(1, n+1):
    if (n%i == 0) :
        print(i)

Enter a num: 18
1
2
3
6
9
18

In [53]:
name = input('Enter your name: ')
height_cm = int(input('Enter your height in cm: '))
weight = int(input('Enter your weight: '))
height_m = int(height_cm)/100
BMI = weight/ (height_m ** 2)
print(f"\nName: {name}\nBMI: {BMI:.1f}")

Enter your name: sdf
Enter your height in cm: 123
Enter your weight: 32

Name: sdf
BMI: 21.2

In [15]:
'hello'[0]

'h'

In [16]:
'hello'[5]

IndexError: string index out of range

In [17]:
'hello'[-1]

'o'

In [18]:
'hello'[-5]

'h'

In [20]:
text = '"hello"'
print(text)

"hello"

In [22]:
text = "'hello'"
print(text)

'hello'

In [23]:
text = '\'hello\''
print(text)

'hello'

In [24]:
text = "\"hello\""
print(text)

"hello"

In [25]:
print('using tab \tescape sequence')

using tab 	escape sequence

In [27]:
value1 = 1
value2 = 2
'first value {} and second value {}'.format(value1,value2)

'first value 1 and second value 2'

In [30]:
'hello {}!'.format('python')

'hello python!'

In [32]:
'{} + {} = {}'.format(1,2, 1 + 2)

'1 + 2 = 3'

In [35]:
'i love {} and your {}'.format('you', 'Mum')

'i love you and your Mum'

In [36]:
'i love {1} and your {0}'.format('you', 'Mum')

'i love Mum and your you'

In [40]:
'{0}, {0}, {0}! python'.format('hello')

'hello, hello, hello! python'

In [41]:
'{0}, {1}, {0}! python'.format('hello', 'ho')

'hello, ho, hello! python'

In [42]:
'{0}, {1}, {0}! python, {1}'.format('hello', 'python')

'hello, python, hello! python, python'

In [43]:
'{0}, {1}, {0}! python'.format(100, 2000)

'100, 2000, 100! python'

In [44]:
'{:10}'.format(123)

'       123'

In [45]:
'{:10}'.format('hello')

'hello     '

In [46]:
string = 'sun'
formatted_value = '{:^10}'.format(string)
print(formatted_value)

   sun

In [49]:
string = 'sun'
formatted_value = '{:^10}'.format(string)
print(formatted_value)

string = 'sun'
formatted_value = '{:>10}'.format(string)
print(formatted_value)

string = 'sun'
formatted_value = '{:<10}'.format(string)
print(formatted_value)

string = 'sun'
formatted_value = '{:>10}'.format(string)
print(formatted_value)

string = 'sun'
formatted_value = '{:10}'.format(string)
print(formatted_value)

   sun
       sun
sun
       sun
sun

In [50]:
'{:10d}'.format(123)

'       123'

In [51]:
'{:10f}'.format(123)

'123.000000'

In [54]:
'{:10.4f}'.format(3.14159226)

'    3.1416'

In [55]:
'{:10.2f}'.format(3.14159226)

'      3.14'

In [58]:
string1 = '12345'
print(string1.isdigit())

string2 = 'hello'
print(string2.isdigit())

string3 = '3.14'
print(string3.isdigit())

string4 = '-42'
print(string4.isdigit())

string5 = '0'
print(string5.isdigit())

True
False
False
False
True

In [60]:
name = input()
print('enter name: ')
print(name)

sun
enter name:
sun

In [61]:
name = input('enter name: ')
print('hello', name)

enter name: sun
hello sun

In [63]:
name = input('enter name:')

enter name:sun

In [64]:
name = input('enter name:')
print(name)

enter name:sun
sun

In [65]:
x = int(input("enter the first integer: "))
y = int(input("enter the second integer: "))
s = x + y
print(x, "and", y, "sum up to", s, ".")

enter the first integer: 100
enter the second integer: 10209393
100 and 10209393 sum up to 10209493 .

In [69]:
x = float(input("enter your num: "))
y = float(input("enter another: "))
s = x + y
print(x, "and", y, "sum up to", s)

enter your num: 1.2
enter another: 2.2
1.2 and 2.2 sum up to 3.4000000000000004

In [71]:
num1, num2, num3 = input('enter to make space: ').split()
print(num1,num2,num3)

enter to make space: 1 2 3
1 2 3

In [1]:
print("Q{} are you stupid {}".format(1,'?'))

Q1 are you stupid ?

In [1]:
import time
unix_timestamp = time.time()
local_time = time.localtime(unix_timestamp)
local_time

time.struct_time(tm_year=2023, tm_mon=7, tm_mday=11, tm_hour=9, tm_min=22, tm_sec=41, tm_wday=1, tm_yday=192, tm_isdst=0)

In [2]:
width = 30
height = 60
rectangle = width * height
print('area of rectangle: ', rectangle)

area of rectangle:  1800

In [4]:
import math as m
b = int(input('enter base: '))
a = int(input('enter height: '))
c = m.sqrt(a**2 + pow(b,2))
print(c)

enter base: 3
enter height: 4
5.0

In [8]:
import math as m
radius = int(input('enter radius: '))
circum = 2 * m.pi * radius
area = m.pi * pow(radius, 2)
print(f"circumference of the circle = {circum:.2f}, Area of the circle = {area}")

enter radius: 11
circumference of the circle = 69.12, Area of the circle = 380.132711084365

In [18]:
import math as m
a = [2,3,4,5,6]
for i in range(len(a)):
    c = pow(a[i], 2)
    print(c)

4
9
16
25
36