In [1]:
for i in range(5):
    print('hello world')

hello world
hello world
hello world
hello world
hello world

In [2]:
for _ in range(5):
    print('hello world')

hello world
hello world
hello world
hello world
hello world

In [3]:
for _ in [1, 2, 3, 4, 5]:
    print("hello world")

hello world
hello world
hello world
hello world
hello world

In [5]:
print(list(range(30)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

In [3]:
numbers = [10, 20, 30, 40, 50]
s = 0
for n in numbers :
    s = s + n
print('Sum of list item values :', s)

Sum of list item values : 150

In [6]:
numbers = [10, 20, 30, 40, 50]
print(sum(numbers))

150

In [8]:
print(list(range(5)))
# in range(n) is a case where start and step are used as default values,
# and only the stop value is specific.

[0, 1, 2, 3, 4]

In [10]:
print(list(range(0, 5)))

[0, 1, 2, 3, 4]

In [12]:
# range build-in function have start, stop, step
print(list(range(0, 5, 1))) 

# start at 0, stop at 5, step up 1 or increasing by 1

[0, 1, 2, 3, 4]

In [14]:
print(list(range(0, 5, 2)))

[0, 2, 4]

In [17]:
print(list(range(5, 0, -2)))
# start at 5, stop at 0, step down -2 or decreasing by 2

[5, 3, 1]

In [53]:
s = 0
for i in range(1, 11) :
    s += i
print('the sum of 1 to 10:', s)
print(sum(range(1, 11)))

the sum of 1 to 10: 55
55

In [24]:
print(sum(range(1, 11)))

55

In [37]:
n = int(input('enter a number: '))
fact = 1
for i in range(1, n + 1) :
    fact = fact * i
    print(i)
print(str(n) + 'i =', fact)

enter a number: 5
1
2
3
4
5
5i = 120

In [3]:
bts = ['v', 'jimin', 'suga']
for i in bts :
    print(i)

v
jimin
suga

In [21]:
print(sum(range(1, 101, 2)))

2500

In [20]:
# for i in range(0, 100, 2) :
#     print(i)
print(sum(range(0, 101, 2)))

2550

In [22]:
print(sum(range(1, 101, 1)))

5050

In [40]:
breads = ['Rye bread', 'Wheat', 'White']
meats = ['Meatball', 'Sausage', 'Chicken breast']
vegetables = ['Lettuce', 'Tomato', 'Cucumber']
sauces = ['Mayonaise', 'Honey mustard', 'Chilli sauce']

count = 0
for i in breads :
    for j in meats :
        for k in vegetables :
            for l in sauces :
                print(i, '+', j, '+', k, '+', l)
                count +=1
print(count)

Rye bread + Meatball + Lettuce + Mayonaise
Rye bread + Meatball + Lettuce + Honey mustard
Rye bread + Meatball + Lettuce + Chilli sauce
Rye bread + Meatball + Tomato + Mayonaise
Rye bread + Meatball + Tomato + Honey mustard
Rye bread + Meatball + Tomato + Chilli sauce
Rye bread + Meatball + Cucumber + Mayonaise
Rye bread + Meatball + Cucumber + Honey mustard
Rye bread + Meatball + Cucumber + Chilli sauce
Rye bread + Sausage + Lettuce + Mayonaise
Rye bread + Sausage + Lettuce + Honey mustard
Rye bread + Sausage + Lettuce + Chilli sauce
Rye bread + Sausage + Tomato + Mayonaise
Rye bread + Sausage + Tomato + Honey mustard
Rye bread + Sausage + Tomato + Chilli sauce
Rye bread + Sausage + Cucumber + Mayonaise
Rye bread + Sausage + Cucumber + Honey mustard
Rye bread + Sausage + Cucumber + Chilli sauce
Rye bread + Chicken breast + Lettuce + Mayonaise
Rye bread + Chicken breast + Lettuce + Honey mustard
Rye bread + Chicken breast + Lettuce + Chilli sauce
Rye bread + Chicken breast + Tomato + Mayonaise
Rye bread + Chicken breast + Tomato + Honey mustard
Rye bread + Chicken breast + Tomato + Chilli sauce
Rye bread + Chicken breast + Cucumber + Mayonaise
Rye bread + Chicken breast + Cucumber + Honey mustard
Rye bread + Chicken breast + Cucumber + Chilli sauce
Wheat + Meatball + Lettuce + Mayonaise
Wheat + Meatball + Lettuce + Honey mustard
Wheat + Meatball + Lettuce + Chilli sauce
Wheat + Meatball + Tomato + Mayonaise
Wheat + Meatball + Tomato + Honey mustard
Wheat + Meatball + Tomato + Chilli sauce
Wheat + Meatball + Cucumber + Mayonaise
Wheat + Meatball + Cucumber + Honey mustard
Wheat + Meatball + Cucumber + Chilli sauce
Wheat + Sausage + Lettuce + Mayonaise
Wheat + Sausage + Lettuce + Honey mustard
Wheat + Sausage + Lettuce + Chilli sauce
Wheat + Sausage + Tomato + Mayonaise
Wheat + Sausage + Tomato + Honey mustard
Wheat + Sausage + Tomato + Chilli sauce
Wheat + Sausage + Cucumber + Mayonaise
Wheat + Sausage + Cucumber + Honey mustard
Wheat + Sausage + Cucumber + Chilli sauce
Wheat + Chicken breast + Lettuce + Mayonaise
Wheat + Chicken breast + Lettuce + Honey mustard
Wheat + Chicken breast + Lettuce + Chilli sauce
Wheat + Chicken breast + Tomato + Mayonaise
Wheat + Chicken breast + Tomato + Honey mustard
Wheat + Chicken breast + Tomato + Chilli sauce
Wheat + Chicken breast + Cucumber + Mayonaise
Wheat + Chicken breast + Cucumber + Honey mustard
Wheat + Chicken breast + Cucumber + Chilli sauce
White + Meatball + Lettuce + Mayonaise
White + Meatball + Lettuce + Honey mustard
White + Meatball + Lettuce + Chilli sauce
White + Meatball + Tomato + Mayonaise
White + Meatball + Tomato + Honey mustard
White + Meatball + Tomato + Chilli sauce
White + Meatball + Cucumber + Mayonaise
White + Meatball + Cucumber + Honey mustard
White + Meatball + Cucumber + Chilli sauce
White + Sausage + Lettuce + Mayonaise
White + Sausage + Lettuce + Honey mustard
White + Sausage + Lettuce + Chilli sauce
White + Sausage + Tomato + Mayonaise
White + Sausage + Tomato + Honey mustard
White + Sausage + Tomato + Chilli sauce
White + Sausage + Cucumber + Mayonaise
White + Sausage + Cucumber + Honey mustard
White + Sausage + Cucumber + Chilli sauce
White + Chicken breast + Lettuce + Mayonaise
White + Chicken breast + Lettuce + Honey mustard
White + Chicken breast + Lettuce + Chilli sauce
White + Chicken breast + Tomato + Mayonaise
White + Chicken breast + Tomato + Honey mustard
White + Chicken breast + Tomato + Chilli sauce
White + Chicken breast + Cucumber + Mayonaise
White + Chicken breast + Cucumber + Honey mustard
White + Chicken breast + Cucumber + Chilli sauce
81

In [1]:
n = int(input('enter integer: '))
count = 1
for i in range(1, n + 1) :
    if i % 2 == 1 :
        for j in range(1, n + 1) :
            print(count, end = '\t')
            count += 1
    else:
        for j in range(n, 0, -1) :
            print(count + j -1, end = '\t')
        count += n
    print()

enter integer: 5
1	2	3	4	5
10	9	8	7	6
11	12	13	14	15
20	19	18	17	16
21	22	23	24	25

In [7]:
n=5
count = 1
for i in range(1, n + 1) :
    for j in range(1, n + 1) :
        print(count, end = '\t')
        count += 1
    print()

1	2	3	4	5
6	7	8	9	10
11	12	13	14	15
16	17	18	19	20
21	22	23	24	25

In [12]:
n = 5
for i in range(n):
    for j in range(n):
        print(f'({i}, {j})', end=" ")
    print()

(0, 0) (0, 1) (0, 2) (0, 3) (0, 4)
(1, 0) (1, 1) (1, 2) (1, 3) (1, 4)
(2, 0) (2, 1) (2, 2) (2, 3) (2, 4)
(3, 0) (3, 1) (3, 2) (3, 3) (3, 4)
(4, 0) (4, 1) (4, 2) (4, 3) (4, 4)

In [25]:
n = int(input('enter table: '))
count = 1
for i in range(1, n + 1) :
    if i % 2 == 1 :
        for j in range(1, n + 1) :
            print(count, end = '\t')
            count += 1
    else :
        for j in range(n, 0, -1) :
            print(count + j -1, end = '\t')
        count += n
    print()
    
#priority is from bottom to the top

enter table: 5
1	2	3	4	5
10	9	8	7	6
11	12	13	14	15
20	19	18	17	16
21	22	23	24	25