# 1. Select an element from a set

In [12]:
# def fact(n) :
#     if n <= 1 :
#         return n
#     else :
#         return n * fact(n - 1)


def fact(n) :
    cnt = 1
    while n != 0 :
        cnt *= n
        n -= 1
    return cnt

def perm(n, r) :
        return fact(n) // fact(n-r)

N, M = map(int, input().split())
print(perm(N, M))

77 11
266711567621704128000

---

# 2. Least common multiple of multiple numbers

In [12]:
import math as m

def lcm(n) :
    if len(n) < 2 :
        return n[0] if n == 1 else none
    a = n[0]
    for i in n[1:] :
        a = (a * i) // m.gcd(a, i)
    return a 
x = [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
y = lcm(x)
print(y)

14549535

---

# 3. Collatz sequence

In [47]:
def collatz(n) :
    if n == 1 :
        return [1]
    elif n % 2 == 0 :
        return [n] + collatz(n//2)
    elif n % 2 == 1 :
        return [n] + collatz(3*n+1)

N, M = 123, 321
c = 0
for i in range(N, M+1) :
    a = len(collatz(i))
    if a > c :
        c = a
        lnum = i
    
# N, M = map(int, input().split())
print(lnum)
print(c)

313
131

---

# 4. Triple Fibonacci sequence

In [21]:
def modified_fibonacci(n):
    if n == 1:
        return 1
    elif n == 2:
        return 2
    elif n == 3:
        return 3
    
    f_n_minus_1, f_n_minus_2, f_n_minus_3 = 3, 2, 1
    
    for i in range(4, n + 1):
        f_n = (f_n_minus_1 + f_n_minus_2 + f_n_minus_3) % (2**32 - 1)
        f_n_minus_3, f_n_minus_2, f_n_minus_1 = f_n_minus_2, f_n_minus_1, f_n
    
    return f_n

n = 6
result = modified_fibonacci(n)
print(result)

20

---

# 5. Ackermann function

In [44]:
def A(n, m, cnt = 0) :
    
    if n == 0 :
        cnt += 1
        result, cnt = m + 1, cnt
        return result, cnt
    
    elif n > 0 and m == 0 :
        cnt += 1
        result, cnt = A(n - 1, 1, cnt) 
        return result, cnt
    
    elif n > 0 and m > 0 :
        cnt += 1
        result, cnt = A(n, m - 1, cnt)
        result, cnt = A(n - 1, result, cnt) 
        return result, cnt
    
        
a, cnt = A(3, 3)
print(a)
print(cnt)

61
2432

----

# 6.  Operation process of Factorial

In [87]:
def fact(n):
    if n <= 1:
        return str(n)
    else:
        b = str(n) + '*' + fact(n - 1)
        return b

result = fact(4)
print(result[::-1])

1*2*3*4

---

# 7-8. Factorial

In [90]:
def fact7(n):
    if n <= 1:
        return str(n)
    else:
        b = str(n) + '*' + fact7(n - 1)
        return b
    
def factin(n):
    if n <= 1:
        return n
    else:
        return n * factin(n - 1)

    
print(f"{6}!=({fact7(6)[::-1]})={factin(6)}")

6!=(1*2*3*4*5*6)=720

---

# 9. Collatz sequence(2)

In [2]:
def collatz(n) :
    if n == 1 :
        return [1]
    elif n % 2 == 0 :
        return [n] + collatz(n//2)
    elif n % 2 == 1 :
        return [n] + collatz((n//2)+1)
    
print(len(collatz(10))-1)

4

---

# 10. Hailstone Sequence

In [8]:
def collat(n) :
    if n == 1 :
        return [1]
    elif n % 2 == 0 :
        return [n] + collat(n//2)
    elif n % 2 == 1 :
        return [n] + collat(3*n+1)
print(max(collat(3)))

16

---

# 11. Fibonacci numbers

In [13]:
def fib11(n) :
    if n == 1 or n == 2 :
        return 1
    else :
        return fib11(n -1) + fib11(n-2)
print(fib11(6))

8

---

# 12. A magical box and gold coins

In [27]:
def coin(n) :
    if n == 1 or n == 2 :
        return 1
    elif n % 2 == 0 :
        return n

1

---

---

# 13. The sum from 0 to n using a loop

In [29]:
n = int(input())
summ = 0
for i in range(1, n + 1) :
    summ += i
print(summ)

100
5050

In [31]:
def loop(n) :
    summ = 0
    for i in range(1, n + 1) :
        summ += i
    return summ
print(loop(100))

5050

---

# 14. Print from 0 to n using a recursive call

In [39]:
def count(n, m = 0) :
    if n >= m :
        print(m)
        count(n, m + 1)
        
count(20)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

---

# 15. Print from 0 to n using a loop

In [40]:
for i in range(1, 21) :
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [48]:
n = 20
a = 20
while n != 0:
    print(a - (n - 1))
    n -= 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

---

# 16. Print from n to 1 using recursive calls

In [68]:
def haha(n, m = 10) :
    if n >= m and m != 0:
        print(m, end=" ")
        haha(n, m - 1)
        
haha(10)

10 9 8 7 6 5 4 3 2 1

---

# 17. Use loops to calculate and output factorials

In [150]:
n = 20
a = 1
for i in range(1, n + 1) :
    a *= i
    if i < 10 : 
        s = " " * ((n) - len(str(a)))
    else :
        s = " " * (n - len(str(a))-1)
    
    print(f"{i}! = {s}{a}")

1! =                    1
2! =                    2
3! =                    6
4! =                   24
5! =                  120
6! =                  720
7! =                 5040
8! =                40320
9! =               362880
10! =             3628800
11! =            39916800
12! =           479001600
13! =          6227020800
14! =         87178291200
15! =       1307674368000
16! =      20922789888000
17! =     355687428096000
18! =    6402373705728000
19! =  121645100408832000
20! = 2432902008176640000

---

# 18.

In [140]:
def print_christmas_tree(height):
    for i in range(1, height + 1):
        spaces = "-" * (height - i)
        stars = "*" * (2 * i - 1)
        print(spaces + stars)
    
    trunk_space = " " * (height - 1)
    print(trunk_space + "|")


height = 20

print_christmas_tree(height)

-------------------*
------------------***
-----------------*****
----------------*******
---------------*********
--------------***********
-------------*************
------------***************
-----------*****************
----------*******************
---------*********************
--------***********************
-------*************************
------***************************
-----*****************************
----*******************************
---*********************************
--***********************************
-*************************************
***************************************
                   |

---

# 19. Print the alphabet using a loop

In [5]:
lst = []
for i in range(97, 123) :
    lst.append(chr(i).upper())
    
def alpha(n) :
    for i in range(len(n), 0, -1) :
        print(*n[:i])

alpha(lst)

A B C D E F G H I J K L M N O P Q R S T U V W X Y Z
A B C D E F G H I J K L M N O P Q R S T U V W X Y
A B C D E F G H I J K L M N O P Q R S T U V W X
A B C D E F G H I J K L M N O P Q R S T U V W
A B C D E F G H I J K L M N O P Q R S T U V
A B C D E F G H I J K L M N O P Q R S T U
A B C D E F G H I J K L M N O P Q R S T
A B C D E F G H I J K L M N O P Q R S
A B C D E F G H I J K L M N O P Q R
A B C D E F G H I J K L M N O P Q
A B C D E F G H I J K L M N O P
A B C D E F G H I J K L M N O
A B C D E F G H I J K L M N
A B C D E F G H I J K L M
A B C D E F G H I J K L
A B C D E F G H I J K
A B C D E F G H I J
A B C D E F G H I
A B C D E F G H
A B C D E F G
A B C D E F
A B C D E
A B C D
A B C
A B
A

---

# 21. Program that reverses the numbers

In [196]:
n = 3484279
a = " ".join(str(n))
print(a[::-1])

9 7 2 4 8 4 3

---

# 22. The Euclidean algorithm

In [208]:
a, b = 24, 64

while b != 0 :
    a, b = b, a % b
    
print(a)

8

In [201]:
def gcd(n, m) :
    if m == 0 :
        return n
    else :
        return gcd(m, n % m)
    
gcd(24, 64)

8

---

# 23. Find the number of triangles

In [209]:
n = 10 
for i in range(1, n + 1) :
    print(i)

1
2
3
4
5
6
7
8
9
10

---

# 24. The Euclidean algorithm(2)

In [8]:
def gcd24(n, m) :
    if m == 0 :
        return n
    else :
        return gcd24(m, n % m)
    
print("84 and 60:", gcd24(84, 60))

84 and 60: 12

---

# 25. Ax + By = C

In [12]:
a, b, c = input().split()
a, b, c = int(a), int(b), int(c)

if a + b == c :
    print(c, 0)
else :
    print(-1)

1 2 3
3 0

---

# 26. Greatest common divisor of A and B

In [22]:
def gcd24(n, m) :
    if m == 0 :
        return n
    else :
        return gcd24(m, n % m)
    
print("1" * gcd24(3, 6))

111