# 1. Sum of all natural numbers

In [12]:
def suum(n, m) :
    return ((m - n)*(m + n + 1))/2

a, b = map(int, input().split())

suum(a, b)

1 100

5049.0

In [7]:
sum(range(1, 101))

5050

---

# 2. Find minimum value

In [21]:
import random
SEED, MIN, MAX, N = map(int, input().split())
random.seed(SEED)
S = random.sample(range(MIN, MAX), N)

def solve(n, s) :
    minn, minI = s[0], 0
    for i in range(1, n) :
        if minn > s[i] :
            minn, minI = s[i], i
    return minn, minI

# N = int(input())
# S = list(map(int, input().split()))
minn, minI = solve(N, S)
print(minn, minI)

1987 123 4567 89
141 16

---

# 3. Sum of all divisors of N

In [ ]:
def sum1(n) :
    a = int(n**0.5)
    cnt = 0
    for i in range(1, a + 1) :
        if n % i == 0 :
            cnt += i + n // i
    return cnt

N = int(input())
print(sum1(N))

---

# 4. Find Prime numbers

In [37]:
def prime(n) :
    if n < 2 :
        return False
    if n == 2 :
        return True
    if n % 2 == 0 :
        return False
    for i in range(2, int(n**0.5) + 1) :
        if n % i == 0 :
            return False
    return True
    
def All_prime(n, m) :
    lst = []
    for i in range(m, n - 1, -1) :
        if prime(i) :
            lst.append(i)
        if len(lst) == 5 :
            break
    return lst

N, M = map(int, input().split())
a = All_prime(N, M)

print(*a)

2147483647 4294967295
4294967291 4294967279 4294967231 4294967197 4294967189

---

# 5. Odd Pyramid

In [58]:
n = int(input())
cnt = 0
for i in range(1, n + 1) :
    cnt += i**3
print(cnt)

1234567
580763573142020329536784

---

# 6. Find the sum of all divisors

In [95]:
def sum1(n) :
    a = int(n**0.5)
    cnt = 0
    for i in range(1, a + 1) :
        if n % i == 0 :
            cnt += i + n // i
    return cnt

N = int(input())
print(sum1(N))

20
42

---

# 7. Find the Kth smallest prime number

1 10 3
10
5

---

# 8 Twin Primes

In [23]:
def prime(n) :
    if n == 2 :
        return True
    
    if n % 2 == 0 :
        return False
    
    if n < 2 :
        return False 
    for i in range(2, int(n**0.5) + 1) :
        if n % i == 0 :
            return False
    return True

def twin_prime(n) :

True

In [70]:
n = 1000
lst = []
for i in range(1, n + 1) :
    cnt = 0
    for j in range(1, i + 1) :
        if i % j == 0 :
            cnt += 1
    if cnt == 2 :
        lst.append(i)
        
def twin_prime(param) :
    cnt = 0
    lst = []
    
    while True :
        for i in range(len(param) - 1) :
            if param[i+1] - param[i] == 2 :
                cnt += 1
                a = [param[i], param[i + 1]]
                lst.append(a)
        break
    
    return print(*lst), cnt
    
a = twin_prime(lst)
print(a)

[3, 5] [5, 7] [11, 13] [17, 19] [29, 31] [41, 43] [59, 61] [71, 73] [101, 103] [107, 109] [137, 139] [149, 151] [179, 181] [191, 193] [197, 199] [227, 229] [239, 241] [269, 271] [281, 283] [311, 313] [347, 349] [419, 421] [431, 433] [461, 463] [521, 523] [569, 571] [599, 601] [617, 619] [641, 643] [659, 661] [809, 811] [821, 823] [827, 829] [857, 859] [881, 883]
(None, 35)

In [25]:
lst = [2, 3, 5, 7]

lst[0]

2

In [36]:
print(range(len(lst) - 1))

range(0, 3)