# 1.Tuple

### 1.1 Immutable attribute, mutable attribute

> - A <strong>Tuple</strong> is very similar to a list. However, the contents of a tuple cannot be changed once they are specified, making it a representative immutable date type.
> - Since the contents of a tuple cannot be changed once they are determined, tuples have a simple structure and faster acccess speed compared to lists. Therefore, these two date types are selected and used depending on the purpose.

 |  | Python Data types |  |
 |:-------------------------|:------------------|:-----------------------|
 | Immutable attrubutes | An immutable object cannot be changed after it is created | Ex: int, float, str, tuple |
 | Mutable attributes | A mutable attributes can be changed after it is created | Ex: list, set, dictionary, |

### 1.2  Immutable data type, which cannot be modified once created: Tuple 

- Let's create a simple tuple as follows.

<p style='color:green'>Tuple for storing colors</p>

In [1]:
colors = ('red', 'green', 'blue')
colors

('red', 'green', 'blue')

<p style='color:green'>Tuple for storing integer sequence</p>

In [2]:
numbers = (1, 2, 3, 4, 5)
numbers

(1, 2, 3, 4, 5)

<p><mark style='background-color:yellow'>A Tuple is an immutable date type. Therefore, be careful when trying to modify the elements of a tuple, as it will result in an error</mark></p>

In [3]:
t1 = (1, 2, 3, 4, 5)
t1[0] = 100

TypeError: 'tuple' object does not support item assignment

- The most important characteristic of a tuple is that <strong>"its values do not change".</strong>
- If you try to change the element of a tuple as in the following code, a TypeError will occur.
- Note that the same error occurs when using del t1[0] to delete the value of an element.

### 1.3 Defining a tuple

- Let's learn various ways to create tuples.

> | Defining tuple |||
  |:-------------------------|:------------------|:----------------------------|
  | Creating an empty tuple | tuple0 = tuple() | must use empty parentheses |
  | Creating a tuple with a single element | tuple1 = (1,) | must use comma |
  | Creating a basic tuple using parentheses | tuple2 = (1,2,3,4) |  |
  | Creating a simple tuple using only commas without parentheses | tuple3 = 1,2,3,4 | |
  | Creating a tuple from list | n_list = [1,2,3,4] tuple4= tuple(n_list) | |

### 1.4 Precautions when defining a tuple: integer type and tuple type varibles

- When creating a tuple with only one element, if you assign it as tup = (100,) it will be treated as tup = 100, and tup will become an integer, not a tuple.
- Therefore, if you want to use tup as a tuple, you must insert a comma, such as tup = (100,).

In [7]:
tup = (100,)
print(tup)
print(type(tup))

(100,)
<class 'tuple'>

In [8]:
tup = (100)
print(tup)
print(type(tup))

100
<class 'int'>

### 1.5 Packing, unpacking

> - <mark>Packing:</mark> Putting multiple values into a single varible.
> - <mark>Unpacking:</mark> If there is a packed varible, it means extracting multiple values from it.

In [9]:
#Packing

a = (1,2)
a[0]

1

In [11]:
a[1]

2

In [12]:
#Unpacking

c = (3, 4)
x, y = c
x

3

In [13]:
y

4

### 1.6 Tuple sorting methods

> - Since tuples are immutable, the sort method cannot be used to change their elements. 
> - Therefore, when sorting the elements of a tuple, you can convert the tuple to a list and then use the sort method to sort the numbers.

In [14]:
tup = (1, 2, 5, 4, 3, 2, 9, 3, 7, 3, 9)
temp = list(tup)
temp.sort()
print(temp)

[1, 2, 2, 3, 3, 3, 4, 5, 7, 9, 9]

# 2.1 range function and sequence types

In [15]:
even_list = list(range(2, 11, 2))
print('even_list = ', even_list)

even_list =  [2, 4, 6, 8, 10]

> - We created a list called 'even_list' that contains even numbers from 1 to 10 (including 10), and then printed the list using the print function.
> - We converted the <mark>sequence generated by the range function</mark> into a list using the list function.
> - Since the last argument of the range function is 2, it increments by 2 from 2 to 10.
Therefore, it contains the elements 2, 4, 6, 8, 10.

- By converting range into a list, you can easily create lists of various numbers.

In [16]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
list(range(2, 10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
list(range(2, 10, 3))

[2, 5, 8]

### 2.2 What is a sequence data type?

> - If we examine the lists, tuples, ranges, and strings we have use so far, they have something in common. These data structures store multiple values in a consecutive(sequence) manner.
> - In Python, data type that have values arranged in a consecutive manner, such as lists, tuples, ranges, and strings, is called sequence type.
> - The each value contained in the sequence type is called an element.

- Examples of sequence types
> - String data type
> - List data type
> - Range data type

### 2.3 Index and Indexing 

- Let's learn about index commonly used in sequence types.

#### Index 

> - It refers to the number that points to the value of an element in a list or sequence. 
> - The index of a list with n elements increases from 0 to n-1.

- The index of a sequence type always starts from 0.

 Referencing element values through <mark>list</mark> indexing

In [19]:
list1 = [11, 11, 11, 22, 33, 44]

In [21]:
list1[0]

11

In [22]:
list1[2]

11

Referencing element values through <mark style='background-color:yellow'>string</mark> indexing

In [23]:
str1 = 'hello world'

In [24]:
str1[2]

'l'

In [25]:
str1[7]

'o'

Referencing element values through <mark style='background-color:yellow'>tuple</mark> indexing

In [26]:
tup1 = (1, 1, 1, 2, 3, 3, 4)

In [28]:
tup1[3]

2

Referencing element values through <mark style='background-color:yellow'>range</mark> indexing

In [29]:
ran = range(0, 5, 1)

In [31]:
ran[4]

4

In [33]:
list(ran)

[0, 1, 2, 3, 4]

### 2.4 Slicing

 - Generally, slicing of sequence types specifies the start index and the stop index.
 - All sequence types use the same slicing method, following the rules below.

In [10]:
n_list = [10, 20, 30, 40, 50, 60, 70, 80]

for i in range(len(n_list)) :
    print(i, end = '\t')

0	1	2	3	4	5	6	7

slicing from index 1 till end

In [14]:
n_list[1:]

[20, 30, 40, 50, 60, 70, 80]

[start : stop : step]

In [16]:
n_list[1:5]

[20, 30, 40, 50]

### 2.5 Negative indexing

 - Negative indexing is possible for sequence data types.
 - The rule for negative indexing is that the index of the last element is -1, and the preceding elements are assigned -2,-3, and so on.

In [18]:
str1 = 'abcdefg'
print(str1[-1])

g

In [20]:
str1 = 'abcdefg'
print(str1[-7])

a

In [22]:
tup1 = (11, 22, 33, 44, 55, 66, 77)
print(tup1[-1])

77

In [26]:
print(tup1[-6])

22

In [28]:
ran = range(1, 7)
print(ran[-6])

1

In [30]:
print(ran[-1])

6

### 2.6 Slicing using negative indexing

- Let's learn about slicing using negative indexing
- When using the range of negative indexes as [-7:-2], the [20, 30, 40, 50, 60] elements are included.

In [32]:
num_list = [10, 20, 30, 40, 50, 60, 70, 80]
num_list[-7:-2]

[20, 30, 40, 50, 60]

In [34]:
num_list[:-2]

[10, 20, 30, 40, 50, 60]

### 2.7 Membership operator for specific element search: in, not in

- The membership operator 'in', 'not in', is operator that return True or False.
- They are used to check if a specific element is present inside data structures such as strings, lists, and tuples.

> - 'in' operator: Returns True if the member is present, and False if it is not.
> - 'not in' operator: Returns False if the member is present, and True if it is not.

- In the following example, since 10 is in list1, '10 in list1' returns True, and '10 not in list1' returns False.

In [36]:
list1 = [10, 20, 30, 40]
10 in list1

True

In [38]:
10 not in list1

False

In [40]:
tup = (1, 2, 3, 4)
3 in tup

True

In [42]:
11 in range(10)

False

In [44]:
'a' in 'abcde'

True

### 2.8 len function

- By substracting 1 from the length obtained using the len function, we can access the last index.
- Let's create a list called nations with the elements 'Korea', 'China', 'Russia', 'Malaysia', and use the index len(nations)-1 to print the last element of the list.

In [47]:
nations = ['Korea', 'China', 'Russia', 'Malaysia']
print('Last element of nations', nations[len(nations)-1])

Last element of nations Malaysia

### 2.9 Count method for determining the number of specific elements in a sequence

 - Let's explore the count method, which counts the number of specific elements in a sequence.
 > The count method returns the number of occurrences of elements whithin a sequence data type.

- Let's compare the results of len and count for a range data type called ran.


> <mark>Line 2</mark>
   > - ran contains elements 0,1,2,3,4, so the count is 5.
   > - <strong>When we use the len function to count the elements, it returns 5. (5 elements but 4 index)</strong>
    
> <mark>Line 3</mark>
   > - On the other hand, let's use the count method to find out how many times 2 appears in the ran varibe.
   > - Since 2 appears only once, it returns 1.

In [56]:
ran = range(0, 5, 1)
print(len(ran))
print(ran.count(2))
print(list(range(0, 5, 1)))

5
1
[0, 1, 2, 3, 4]

In [59]:
list1 = [11, 11, 11, 22, 33, 44]
print(list1.count(11))

3

In [61]:
str1 = 'hello world'
print(str1.count('l'))

3

# 3. Precaution when using sequence data types

### 3.1 Concatenation operator for sequence data types

- Sequence data types can be concatenated using the concatenation opertaor (+)
> - However, the <strong>range</strong> data type cannot be concatenated using the + oprator

In [90]:
list1 = [11, 22, 33, 44]
list2 = [55, 66]
print(list1)
print(list2)
print(list1 + list2)

[11, 22, 33, 44]
[55, 66]
[11, 22, 33, 44, 55, 66]

In [65]:
tup1 = (11, 22, 33, 44)
tup2 = (55, 66)
print(tup1)
print(tup1 + tup2)

(11, 22, 33, 44)
(11, 22, 33, 44, 55, 66)

In [69]:
str1 = 'hello'
str2 = 'world'
print(str1 + str2)

helloworld

In [75]:
range(10) + range(1, 10)

TypeError: unsupported operand type(s) for +: 'range' and 'range'

- In such cases, range can be converted to a list or tuple and then concatenated.

In [73]:
list(range(10)) + list(range(10, 20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [76]:
tuple(range(10)) + tuple(range(10, 20))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19)

### 3.2 Operator that duplicate sequence types

- Sequence data types can also use the repetition operator, which repeats the elements of the data types.
    - The syntax is 'sequence type *Integer'.
    - However, range cannot use the *Operator.

In [78]:
list1 = [11, 22, 33, 44] * 2
print(list1)

[11, 22, 33, 44, 11, 22, 33, 44]

In [80]:
tup1 = (1,2,3,4)
print(tup1 * 2)

(1, 2, 3, 4, 1, 2, 3, 4)

In [83]:
str2 = 'hello'
print(str2 * 3)

hellohellohello

In [85]:
range(10) * 3

TypeError: unsupported operand type(s) for *: 'range' and 'int'

<mark style='background-color:yellow'>But we can use operator on range function only if convert range function into a list.</mark>

In [87]:
ran = list(range(5)) * 3
print(ran)

[0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4]

In [89]:
ran = tuple(range(5)) * 3
print(ran)

(0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4)

<mark style='background-color:yellow'>If you use the duplication operator on two lists, an error will occur</mark>

In [92]:
list1 = [11, 22, 33, 44]
list2 = [55, 66]
print(list1 * list2)

TypeError: can't multiply sequence by non-int of type 'list'

### 3.3 Comparison operator

- Comparison of "greater than" or "less than" for sequence data types is determined by comparing the elements of the two sequence data types.

In [93]:
a = ('A', 'B', 'C')
b = ('A', 'B', 'D')

In [95]:
a > b

False

In [96]:
a < b

True

In [100]:
ord('C') #code value of c is 67

67

In [102]:
ord('D') #code value of D is 68

68

Therefore a > b is false.

- The ord function is a build-in function in python that converts a character to its corresponding Unicode value.
- In other words, it returns the Unicode code point value of the given character.

In [103]:
a = ['A', 'B', 'C']
b = ['A', 'B', 'D']

In [105]:
a > b

False

In [107]:
a < b

True

In [108]:
a = 'ABC'
b = 'ABD'

In [110]:
a > b

False

In [112]:
a < b

True

- An error occurs when preforming comparison operations on range types.

In [114]:
a = range(0, 5)
b = range(0, 5)

In [116]:
a > b

TypeError: '>' not supported between instances of 'range' and 'range'

# 4.1 What are immutable data types?

- Immutable data types refer to data types that cannot be changed after they are created.
- In other words, they cannot be modified internally. They can <strong>only be reassigned.</strong>
- <strong>Tuples</strong> are a representative example. Tuples cannot modify their internal elements. A new value must be assigned.

### 4.2 Immutable data types and the 'is' operator

- This code determines whether two varibles with the same value are the same object using the is operator.
> - We learned that the is operator returns True if the two objects on both sides are the same, and False otherwise.

- Let's compare the results of code that checks two varibles with the same elements in a list using the is operator and code that check two varibles with the same elements in a string using th is operator.

- First, the results of the code that checks two varibles with the same elements in a <strong>list</strong> using the is operator are as follows.

In [123]:
list1 = [10, 20, 30]
list2 = [10, 20, 30]
if list1 == list2 :
    print("It's the same.")
    if list1 is list2 :
        print("It's the same object.")
    else :
        print("It's different object.")
else :
    print("It's different.")

It's the same.
It's different object.

- Since the list[10, 20, 30] is stored in different memory locations, the id values of list1 and list2 are different.
- The 'is' operator compares id values, so it returns False.

- Since the string 'ABC' has the same storage location, the id values of string1 and string2 are the same.
- The 'is' operator compares id values, so it returns True.

In [124]:
print(id(list1), 'vs', id(list2)) #different id
print(id(str1), 'vs', id(str2)) #the same id

4464447552 vs 4464454336
4413638448 vs 4413638448

- For the 'str' data types, a table is used to store its location, and if the same string is assigned, it refers to the same location.
- This is one of Python's optimization features, which reduces memory usage and improves performance for small-sized repeated strings.

- The varible name we use is essentially a reference to an object.
- In the following code, the object with value of 100 is accessed through a varible named 'n'.

In [126]:
n = 100
id(100)

4336848208

In [128]:
id(n)

4336848208

- When there is a numeric type with a value of 100 and it is referenced by 'n', it is possible to access 100 through the varible 'n'.

In [130]:
n = 100
m = n
id(n)

4336848208

In [132]:
id(m)

4336848208

- Integer, float, string, boolean, and tuple are immutable data types.
- Therefore, if their values are the same, they refer to the same storage location.
- This is done to efficiently use memory.

In [134]:
n = 100
m = 100
print(id(n))
print(id(m))

4336848208
4336848208

- When a different value is assigned, the storage location changes, so it becomes a different object.

In [136]:
n = 100
m = n
m = 200
id(n)

4336848208

In [138]:
id(m)

4336851408

- Also, by assigning n = n + 1, the newly assigned n and the previous n refer to different objects.
- At this point, the value '100' becomes garbage, which is no longer used.
- Garbage refers to objects that exist in memory but no longer have any references to access them.
- Since there are no varibles referencing this object anymore, it causes memory waste.

In [140]:
n = 100
id(n)

4336848208

In [141]:
n = n + 1
id(n)

4336848240

Therefore, periodic garbage memory cleanup is necessary, and this memory management procedure is called <mark style="background-color:yellow">garbage collection</mark>

# 10.2 Paper coding

In [143]:
#Q1

t1 = 'a', 'b', 'c'
t2 = ('a', 'b', 'c')
t3 = ('d', 'e')

print(t1 == t2)

print(t1 > t3)

print(t1 < t3)

print(t2 + t3)

print([ t2 + t3 ])

print(t1)

True
False
True
('a', 'b', 'c', 'd', 'e')
[('a', 'b', 'c', 'd', 'e')]
('a', 'b', 'c')

In [1]:
#Q2

record = (100, 121, 120, 130, 140, 120, 122, 123, 190, 125)
count = 0
for i in range(len(record) - 1) :
    if record[i] > record[i + 1] :
        count += 1
print(f"In the last 10 days, there are {count} days that sales lower than the last previous day")

In the last 10 days, there are 3 days that sales lower than the last previous day

# 10.4 Let's code

## <mark>Mission</mark>

### Aging Rate Calculator

In [25]:
population_A = (100, 150, 230, 120, 180, 100, 140, 95, 81, 21, 4)
population_B = (300, 420, 530, 420, 400, 300, 40, 5, 1, 1, 1)

sumA = sum(population_A)
sumB = sum(population_B)

oldA = sum(population_A[7:])/sumA
oldB = sum(population_B[7:])/sumB

print("{:5.3f} {:5.3f}".format(oldA, oldB))

0.165 0.003